/* 全般設定 */
body {color: black; background: white; margin: 0; padding: 0;}

table {width: 100%; margin: 5; padding: 5; font-size: 10px; border-collapse: collapse;}
table td {padding: 0; border-width: 0; vertical-align: top; font-family: Verdana, Arial, Helvetica;}

/* 全般的なリンクの設定 */
a {color: #111111; text-decoration: none; background-color: transparent;}
a:hover {color: #000000;text-decoration: underline; background-color: transparent;}

/* 一般タグの設定 */
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
/* リスト表示の設定 中央左右のブロックなどで使用 */
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #999999}

input.formButton {}

/* 最新ニュースの枠 */
.item {}
/* 最新ニュースのタイトルバー */
.itemHead {padding: 3px; background-color: #BBBBBB; color: #FFFFFF; border:1px solid #999999;}
/* 最新ニュースの投稿情報欄 */
.itemInfo {text-align: right; padding: 3px; background-color: #EFF4F8; border-left:1px solid #999999; border-right:1px solid #999999;}
/* 最新ニュースのタイトルの設定 */
.itemTitle a {font-size: 110%; font-weight: bold; font-variant: small-caps; color: #ffffff; background-color: transparent;}
/* 最新ニュースの投稿者 */
.itemPoster {font-size: 90%;}
/* 最新ニュースの投稿日 */
.itemPostDate {font-size: 90%;}
/* 最新ニュースのステータス */
.itemStats {font-size: 90%; font-style:italic;}
/* 最新ニュースのコンテンツ部分 */
.itemBody {padding-left: 15px; border:1px solid #999999;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 120%; color: #222222;font-size:10px}
/* 最新ニュースの1文字目 */
.itemText:first-letter {font-size: 133%; font-weight: bold;}
/* 最新ニュースのフッター */
.itemFoot {text-align: right; padding: 3px; background-color: #F3F3F3; border-left:1px solid #999999; border-right:1px solid #999999; border-bottom:1px solid #999999;}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}


th {background-color: #999999; color: #FFFFFF; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}

/*ヘッダーブロックの定義*/
td#headerlogo {width: 170px; height: 45px; vertical-align: middle; text-align:center;}
td#headert {height: 45px; text-align:right; vertical-align:top;}
td#headerbar1 {color: #111111;font-size: 9px; padding: 3px; text-align: left; vertical-align: top;}
td#headerbar2 {height: 30px;color: #111111;font-size: 9px; padding: 0px; text-align: center; vertical-align: middle;border: 1px solid #999999;}
td#headerbar3 {color: #111111;font-size: 9px; padding-left: 1px; text-align: left; vertical-align: middle;border: 1px solid #999999;}
td#headerbar4 {width: 170px;border: 1px solid #999999;}

/*左側ブロック一番外側セルの定義*/
td#leftcolumn {width: 170px; border-right: 1px solid #999999; font-size:10px;background-color: #FCFCFC;}
td#leftcolumn th {background-color: #F2F2F2; color: #000000; vertical-align: middle;}
/*左側ブロックタイトル*/
td#leftcolumn div.blockTitle {padding: 3px; background-color: #F2F2F2; color: #000000; border-bottom: 1px solid #B1B0BC; vertical-align:middle;}
/*左側ブロックコンテンツ*/
td#leftcolumn div.blockContent {padding: 2px 2px 2px 3px; line-height: 110%; padding-left: 15px;font-size:10px;}

/* 左側ブロック　メインメニューの定義*/
td#mainmenu a {background-color: transparent; margin: 0; padding: 4px; border-bottom: 1px solid #cdcdcd;}
td#mainmenu a:hover {}
td#mainmenu a.menuTop {}
td#mainmenu a.menuMain {border-bottom: 1px solid #cdcdcd;}
td#mainmenu a.menuSub {padding-left: 15px; border-bottom: 1px solid #cdcdcd;}

/*左側ブロック　ユーザーメニューの定義*/
td#usermenu a {background-color: transparent; margin: 0; padding: 4px; border-bottom: 1px solid #cdcdcd;}
td#usermenu a:hover {}
td#usermenu a.menuTop {}
td#usermenu a.highlight {background-color: #fcc;}


/*右側ブロックの定義*/
td#rightcolumn {width: 170px; border-right: 1px solid #999999; border-left: 1px solid #999999; font-size:10px;background-color: transparent;}
td#rightcolumn th {background-color: #F2F2F2; color: #000000; vertical-align: middle;}
td#rightcolumn div.blockTitle {padding: 3px; background-color: #F2F2F2; color: #000000; border-bottom: 1px solid #B1B0BC; vertical-align:middle;}
td#rightcolumn div.blockContent {padding: 3px; line-height: 120%; padding-left: 15px;font-size:10px;}


/*中央ブロックの定義*/
td#centercolumn {font-size: 10px;}
/* フォーラムのタイトルバー部分 */
td#centercolumn th {background-color: #BBBBBB; color: #FFFFFF; vertical-align: middle;}

/*中央センターブロックの定義*/
td#centerCcolumn {padding: 0px 3px 1px 3px;}
td#centerCcolumn div.blockTitle {padding: 3px; color: #111111; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px; border:1px solid #999999; border-right:2px solid #999999;}
td#centerCcolumn div.blockContent {padding: 3px; margin: 0px; line-height: 120%; border:1px solid #999999;}

/*中央ブロック左の定義*/
td#centerLcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerLcolumn div.blockTitle {padding: 3px; color: #111111; font-weight: bold; margin-top: 0px; border:1px solid #999999; border-right:2px solid #999999;}
td#centerLcolumn div.blockContent {padding: 3px; margin-bottom: 2px; line-height: 120%; border:1px solid #999999;}

/*中央ブロック右の定義*/
td#centerRcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerRcolumn div.blockTitle {padding: 3px; color: #111111; font-weight: bold; margin-top: 0px; border:1px solid #999999; border-right:2px solid #999999;}
td#centerRcolumn div.blockContent {padding: 3px; margin-bottom: 2px; line-height: 120%; border:1px solid #999999;}

div#content {text-align: left; padding: 8px; font-size:10px;}

/*フッタブロックの定義*/
td#footerbar {vertical-align:middle; text-align:center; background-color: #F2F2F2; font-size:10px; height:23px; color:#111111; border-top:1px solid #999999;line-height:150%;}
td#footerbar a{color:#000000;}

/* フォーラムなどの外枠*/
.outer {background-color: #DDDDDD}
/* フォーラムなどの投稿情報欄 */
.head {background-color: #DEE3E7; padding: 5px; font-weight: bold;}
/* フォーラムなどの交互に色が変わる部分 */
.even {background-color: #eff4f8; padding: 5px;}
.odd {background-color: #F9F9F9; padding: 5px;}
/* フォーラムなどのフッター */
.foot {background-color: #d3dee7; padding: 5px; font-weight: bold;}
tr.even td {background-color: #eff4f8; padding: 5px;}
tr.odd td {background-color: #F9F9F9; padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #999999; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #999999; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #999999; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}